  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1E1E1E;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.pitchback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  }
  
  .pitchback-title {
  margin-bottom: 20px;
  }
  
  .pitchback-description {
  margin-bottom: 20px;
  }
  
  .pitchback-upload-text {
  margin-bottom: 10px;
  }
  
  .pitchback-upload {
  margin-bottom: 20px;
  }
  
  .pitchback-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  }
  
  .pitchback-remove-button {
  margin-top: 10px;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
    top: 50%;
    left: 50%;
    width: 63%;
    margin: 0 auto;
}

.app-container {
  position: relative;
  text-align: center;
  max-width: 900px;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.app-container h1 {
  font-size: 42px;
  margin-bottom: 0px;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  /* align items to the top */
}

.next-button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.next-button {
    padding: 10px 20px;
    background-color: #FF6D00;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
    width: 235px;
    height: 65px;
    font-size: 20px;
}

.next-button:hover {
  background-color: #ff770e;
}

.next-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-container label {
  background-color: #FF6D00;
    color: white;
    padding: 80px 340px;
    font-family: sans-serif;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 26px;
}

.upload-container label:hover {
  background-color: #ff770e;
}

#file-chosen {
  margin-left: 0.3rem;
  font-family: sans-serif;
}

.upload-container img{
  height: 52px;
  width: 43px;
}

.video-container p {
  text-align: left;
}

.button-container {
  text-align: center;
}

.video-container {
  margin-bottom: 20px;
}

.next-button-container {
  margin-top: 20px;
}

.main-container {
  margin-top: 60px;
}

.card {
  border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    width: calc(33.33% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.card-container {
  display: flex;
  margin-bottom: 50px;
  margin-top: 35px;
}